# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
myenv/
pip-log.txt
pip-delete-this-directory.txt

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# OS-specific
.DS_Store
Thumbs.db